<section id="main">
    <div class="flex">
        <div id="info-shop">
            <div class="info-ball">
                <img src="images/carrot.svg" />
            </div>
            <h2 class="info-ball-header">No need to</h2>
            <h2 class="info-ball-header">shop</h2>
            <h6>Find recipes that incorporate ingredients</h6>
            <h6>you already have in your kitchen</h6>
        </div>
        <div id="info-dietary">
            <div class="info-ball">
                <img src="images/carrot.svg" />
            </div>
            <h2 class="info-ball-header">Add dietary</h2>
            <h2 class="info-ball-header">restrictions</h2>
            <h6>Filter recipes using a variety of dietary</h6>
            <h6>restrictions such as vegetarian,</h6>
            <h6>gluten-free, and vegan</h6>
        </div>
        <div id="info-recipes">
            <div class="info-ball">
                <img src="images/carrot.svg" />
            </div>
            <h2 class="info-ball-header">Links to the best</h2>
            <h2 class="info-ball-header">recipes</h2>
            <h6>Get recipes from the Yummly API, the</h6>
            <h6>world's largest and most powerful</h6>
            <h6>recipe search site</h6>
        </div>
    </div>
</section>
<section id="about">

</section>
