<div id="background-art" class="row">
    <h1>Recipe Search</h1>
</div>
<section id="recipes" class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>Keyword Search</h2>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row" ng-controller="IngredientsController">
        <div class="col-lg-5 col-md-5" id="included-ingredients">
            <!-- <a class="element"><i class="fa fa-times"></i>oats</a> -->
            <h2>Included Ingredients</h2>
            <input type="text" class="form-control">
            <div class="element-group">

            </div>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2" id="excluded-ingredients">
            <h2>Excluded Ingredients</h2>
            <input type="text" class="form-control">
            <div class="element-group">
                <a class="element"><span class="glyphicon glyphicon-remove"></span>oats</a><a class="element"><span class="glyphicon glyphicon-remove"></span>oats</a><a class="element"><span class="glyphicon glyphicon-remove"></span>oats</a><a class="element"><span class="glyphicon glyphicon-remove"></span>oats</a><a class="element"><span class="glyphicon glyphicon-remove"></span>oats</a><a class="element"><span class="glyphicon glyphicon-remove"></span>oats</a><a class="element"><span class="glyphicon glyphicon-remove"></span>oats</a><a class="element"><span class="glyphicon glyphicon-remove"></span>oats</a><a class="element"><span class="glyphicon glyphicon-remove"></span>oats</a><a class="element"><span class="glyphicon glyphicon-remove"></span>oats</a><a class="element"><span class="glyphicon glyphicon-remove"></span>oats</a>
            </div>
        </div>
    </div>
</section>
