<div id="background-art" class="row">
    <h1>Recipe Search</h1>
</div>
<section id="recipes" class="container" ng-controller="RecipeSearchController">
    <div id="search-terms">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>
                    <span>Keyword Search
                        <button
                            class="help-button"
                            data-toggle="popover"
                            data-trigger="focus"
                            data-content="This field is optional, but if you'd like to search for a specific dish you can enter your search terms here.">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </button>
                    </span>
                </h2>
                <input id="keyword" type="text" class="form-control" placeholder="What would you like to cook today?">
            </div>
        </div>
        <div class="row">
            </script>
            <div class="col-lg-6 col-md-6">
                <h2>
                    <span>Included Ingredients
                        <button
                            class="help-button"
                            data-toggle="popover"
                            data-trigger="focus"
                            data-content="These are the ingredients you want to include in your recipe search. Start typing the name of an ingredient and autocomplete options will appear. Select an option by using the arrow and enter keys or by clicking on an ingredient in the list. You can search by generic ingredient name or by specific brand names.">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </button>
                    </span>
                </h2>
                <input type="text" class="form-control" id="included-ingredients-input">
                <div id="included-ingredients-list" class="element-group"></div>
            </div>
            <div class="col-lg-6 col-md-6">
                <h2>
                    <span>Excluded Ingredients
                        <button
                            class="help-button"
                            data-toggle="popover"
                            data-trigger="focus"
                            data-content="These are the ingredients you want to exclude from your recipe search. Start typing the name of an ingredient and autocomplete options will appear. Select an option by using the arrow and enter keys or by clicking on an ingredient in the list. You can search by generic ingredient name or by specific brand names.">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </button>
                    </span>
                </h2>
                <input type="text" class="form-control" id="excluded-ingredients-input">
                <div id="excluded-ingredients-list" class="element-group"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2>Allergies</h2>
                <select id="allergy-input" class="form-control">
                    <option disabled selected></option>
                    <option ng-repeat="option in allergies" value="{{option.searchValue}}">{{option.shortDescription}}</option>
                </select>
                <div class="element-group" id="allergy-list"></div>
            </div>
            <div class="col-lg-6 col-md-6">
                <h2>Dietary Restrictions</h2>
                <select id="diet-input" class="form-control">
                    <option disabled selected></option>
                    <option ng-repeat="option in diets" value="{{option.searchValue}}">{{option.shortDescription}}</option>
                </select>
                <div class="element-group" id="diet-list"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2>Included Cuisines</h2>
                <select id="included-cuisine-input" class="form-control">
                    <option disabled selected></option>
                    <option ng-repeat="option in cuisines" value="{{option.searchValue}}">{{option.name}}</option>
                </select>
                <div class="element-group" id="included-cuisine-list"></div>
            </div>
            <div class="col-lg-6 col-md-6">
                <h2>Excluded Cuisines</h2>
                <select id="excluded-cuisine-input" class="form-control">
                    <option disabled selected></option>
                    <option ng-repeat="option in cuisines" value="{{option.searchValue}}">{{option.name}}</option>
                </select>
                <div class="element-group" id="excluded-cuisine-list"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2>Courses</h2>
                <select id="course-input" class="form-control">
                    <option disabled selected></option>
                    <option ng-repeat="option in courses" value="{{option.searchValue}}">{{option.name}}</option>
                </select>
                <div class="element-group" id="course-list"></div>
            </div>
            <div class="col-lg-6 col-md-6">
                <h2>Holidays</h2>
                <select id="holiday-input" class="form-control">
                    <option disabled selected></option>
                    <option ng-repeat="option in holidays" value="{{option.searchValue}}">{{option.name}}</option>
                </select>
                <div class="element-group" id="holiday-list"></div>
            </div>
        </div>
        <div class="row text-center">
            <button class="btn" id="search-button">Search</button>
            <button class="btn" id="clear-button">Clear</button>
        </div>
    </div>
    <div id="loading">
        <span>L</span><span>o</span><span>a</span><span>d</span><span>i</span><span>n</span><span>g</span><span>.</span><span>.</span><span>.</span>
    </div>
    <div id="results" class="container">
        <button class="btn" id="back-button">Back to Search</button>
        <div class="row result-row" ng-repeat="recipe in recipes" ng-click="setCurrentRecipe(recipe)">
            <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3">
                <img ng-src="{{recipe.imageUrlsBySize[90]}}">
                <div class="rating">
                    <span>
                        <i class="{{recipe.rating > 0 ? 'fa fa-star fa-2x' : 'fa fa-star-o fa-2x'}}" aria-hidden="true"></i>
                        <i class="{{recipe.rating > 1 ? 'fa fa-star fa-2x' : 'fa fa-star-o fa-2x'}}" aria-hidden="true"></i>
                        <i class="{{recipe.rating > 2 ? 'fa fa-star fa-2x' : 'fa fa-star-o fa-2x'}}" aria-hidden="true"></i>
                        <i class="{{recipe.rating > 3 ? 'fa fa-star fa-2x' : 'fa fa-star-o fa-2x'}}" aria-hidden="true"></i>
                        <i class="{{recipe.rating > 4 ? 'fa fa-star fa-2x' : 'fa fa-star-o fa-2x'}}" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <h1>{{recipe.recipeName}}</h1>
                <h4>Source: {{recipe.sourceDisplayName}}</h4>
                <h4>Total Time: {{recipe.totalTimeInSeconds / 60}} minutes</h4>
            </div>
        </div>
        <div class="row" id="page-links">
            <button id="prev-page" class="btn" ng-hide="pageNum == 1">Previous Page</button>
            <button id="next-page" class="btn" ng-hide="pageNum == totalPages">Next Page</button>
            <h2 id="page-num">Page {{pageNum}} of {{totalPages}}</h2>
        </div>
        <div class="row" id="attribution">
            <p ng-bind-html="attribution"></p>
        </div>
        <div class="modal fade" id="recipe-modal" tabindex="-1" role="dialog">
            <div class="modal-lg modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h1 class="modal-title">{{currentRecipe.name}}</h1>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <img id="recipe-image" src="{{currentRecipe.images[0].hostedLargeUrl}}">
                                </div>
                                <div class="col-lg-8 col-mg-8">
                                    <h2>Source: {{currentRecipe.source.sourceDisplayName}}</h2>
                                    <h3><a ng-href="{{currentRecipe.source.sourceRecipeUrl}}" target="_blank">Click here for the full recipe</a></h3>
                                    <h3>Total Time: {{currentRecipe.totalTime}}</h3>
                                    <h3>Servings: {{currentRecipe.numberOfServings}}</h3>
                                    <h3>Rating:</h3>
                                    <div class="rating">
                                        <span>
                                            <i class="{{currentRecipe.rating > 0 ? 'fa fa-star fa-2x' : 'fa fa-star-o fa-2x'}}" aria-hidden="true"></i>
                                            <i class="{{currentRecipe.rating > 1 ? 'fa fa-star fa-2x' : 'fa fa-star-o fa-2x'}}" aria-hidden="true"></i>
                                            <i class="{{currentRecipe.rating > 2 ? 'fa fa-star fa-2x' : 'fa fa-star-o fa-2x'}}" aria-hidden="true"></i>
                                            <i class="{{currentRecipe.rating > 3 ? 'fa fa-star fa-2x' : 'fa fa-star-o fa-2x'}}" aria-hidden="true"></i>
                                            <i class="{{currentRecipe.rating > 4 ? 'fa fa-star fa-2x' : 'fa fa-star-o fa-2x'}}" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h2>Ingredients:</h2>
                                    <ul>
                                        <li ng-repeat="ingredient in currentRecipe.ingredientLines">{{ingredient}}</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h1 id="flavor-profile-dropdown" data-toggle="collapse" data-target="#flavor-profile" ng-if="currentRecipe.flavors.Bitter" ng-click="flavorDropped = !flavorDropped">Flavor Profile <i class="fa fa-plus" aria-hidden="true" ng-if="!flavorDropped"></i><i class="fa fa-minus" aria-hidden="true" ng-if="flavorDropped"></i></h1>
                                    <div id="flavor-profile" class="collapse" ng-if="currentRecipe.flavors.Bitter">
                                        <div>
                                            <h3>Bitter: <sup>{{currentRecipe.flavors.Bitter * 10 | number: 1}}</sup>&frasl;<sub>10</sub></h3>
                                            <input type="range" min="0" max="10" value="{{currentRecipe.flavors.Bitter * 10 | number: 1}}" disabled>
                                        </div>
                                        <div>
                                            <h3>Savory: <sup>{{currentRecipe.flavors.Meaty * 10 | number: 1}}</sup>&frasl;<sub>10</sub></h3>
                                            <input type="range" min="0" max="10" value="{{currentRecipe.flavors.Meaty * 10 | number: 1}}" disabled>
                                        </div>
                                        <div>
                                            <h3>Spicy: <sup>{{currentRecipe.flavors.Piquant * 10 | number: 1}}</sup>&frasl;<sub>10</sub></h3>
                                            <input type="range" min="0" max="10" value="{{currentRecipe.flavors.Piquant * 10 | number: 1}}" disabled>
                                        </div>
                                        <div>
                                            <h3>Salty: <sup>{{currentRecipe.flavors.Salty * 10 | number: 1}}</sup>&frasl;<sub>10</sub></h3>
                                            <input type="range" min="0" max="10" value="{{currentRecipe.flavors.Salty * 10 | number: 1}}" disabled>
                                        </div>
                                        <div>
                                            <h3>Sour: <sup>{{currentRecipe.flavors.Sour * 10 | number: 1}}</sup>&frasl;<sub>10</sub></h3>
                                            <input type="range" min="0" max="10" value="{{currentRecipe.flavors.Sour * 10 | number: 1}}" disabled>
                                        </div>
                                        <div>
                                            <h3>Sweet: <sup>{{currentRecipe.flavors.Sweet * 10 | number: 1}}</sup>&frasl;<sub>10</sub></h3>
                                            <input type="range" min="0" max="10" value="{{currentRecipe.flavors.Sweet * 10 | number: 1}}" disabled>
                                        </div>
                                    </div>
                                    <h1 id="nutrition-profile-dropdown" data-toggle="collapse" data-target="#nutrition-profile" ng-if="currentRecipe.nutritionEstimates.length > 0" ng-click="nutritionDropped = !nutritionDropped">Nutrition Profile <i class="fa fa-plus" aria-hidden="true" ng-if="!nutritionDropped"></i><i class="fa fa-minus" aria-hidden="true" ng-if="nutritionDropped"></i></h1>
                                    <div id="nutrition-profile" class="collapse">
                                        <h3 id="nutrition-note">Note: This information is based on estimates.</h3>
                                        <ul>
                                            <li ng-repeat="estimate in currentRecipe.nutritionEstimates"><span ng-if="estimate.description">{{estimate.description}} - </span>{{estimate.value}} {{estimate.unit.plural}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row modal-attribution">
                                <p ng-bind-html="currentRecipe.attribution.html"></p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
