.home {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.7)), url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1000px;
}
