#nav-brand-img {
    height: 120px;
    margin-left: 20px;
}

#nav-brand-text {
    display: none;
}

.navbar {
    min-height: 130px;
}

.navbar-brand {
    padding: 5px;
}

.navbar-default {
    border: none;
    background-color: $secondary-color;
    .navbar-nav {
        li {
            a:hover {
                color: $nav-active-link-color;
            }
            a {
                color: $nav-link-color;
            }
        }
        .active {
            a {
                background-color: rgba(0, 0, 0, 0);
                color: $nav-active-link-color;
            }
            a:hover {
                background-color: rgba(0, 0, 0, 0);
                color: $nav-active-link-color;
            }
        }
        a {
            font-family: $font-navbar-link;
            font-weight: 900;
            font-size: 50px;
            padding-top: 50px;
            padding-right: 50px;
        }
    }
}

nav.navbar.shrink {
    min-height: 70px;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    .active {
        a {
            padding-top: 23px;
            font-size: 30px;
            -webkit-transition: all 0.8s ease;
            transition: all 0.8s ease;
        }
    }
    a {
        padding-top: 23px;
        font-size: 30px;
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;
    }
    #nav-brand-img {
        height: 60px;
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;
    }
}
