$font-navbar-link: paralucent-condensed, Helvetica, sans-serif;
$font-navbar-cursive: grafolita-script, Times, serif;
$primary-text: usual, Helvetica, sans-serif;
$secondary-text: ff-dagny-web-pro, Helvetica, sans-serif;
$primary-cursive-header: hucklebuck-jf, Times, serif;
$secondary-cursive-header: grafolita-script, Times, serif;
$primary-block-header: skolar-sans-latin, Helvetica, sans-serif;
$secondary-block-header: acumin-pro-condensed, Helvetica, sans-serif;
$third-block-header: peachy-keen-jf, Helvetica, sans-serif;
$about-secondary-header: hwt-artz, Helvetica, sans-serif;
$primary-color: #ea5959;
$result-row: #ee7777;
$result-row-hover: #f18e8e;
$secondary-color: #f98b60;
$third-color: #ffc057;
$fourth-color: #ffe084;
$nav-link-color: #555;
$nav-active-link-color: #333;
$nav-brand-text-color: #262626;
$element-color: $fourth-color;
$element-text: $secondary-color;
$select-background: #f4a4a4;
$autocomplete-hover: #f8703a;
$star-color: #ffcc66;
$dark-gray: #333333;
