body {
  background-color: #ea5959;
}

#nav-brand-img {
  height: 120px;
  margin-left: 20px;
}

#nav-brand-text {
  display: none;
}

a {
  cursor: pointer;
}

.navbar {
  min-height: 130px;
}

.navbar-brand {
  padding: 5px;
}

.navbar-default {
  border: none;
  background-color: #f98b60;
}
.navbar-default .navbar-nav li a {
  color: #555;
}
.navbar-default .navbar-nav li a:hover {
  color: #333;
}
.navbar-default .navbar-nav .active a {
  background-color: transparent;
  color: #333;
}
.navbar-default .navbar-nav .active a:hover {
  background-color: transparent;
  color: #333;
}
.navbar-default .navbar-nav a {
  font-family: paralucent-condensed, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 50px;
  padding-top: 50px;
  padding-right: 50px;
}

.navbar-header button {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #262626;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  border-radius: 0%;
  background-color: #ffe084;
}

nav.navbar.shrink {
  min-height: 70px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
nav.navbar.shrink .active a {
  padding-top: 23px;
  font-size: 30px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
nav.navbar.shrink a {
  padding-top: 23px;
  font-size: 30px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
nav.navbar.shrink #nav-brand-img {
  height: 60px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.partial {
  padding-top: 130px;
}

#footer {
  height: 60px;
  background-color: #ffe084;
  text-align: center;
  font-family: ff-dagny-web-pro, Helvetica, sans-serif;
  font-weight: 900;
  padding-top: 10px;
}
#footer p {
  margin: 0px;
}
#footer a {
  color: #f98b60;
  text-decoration: none;
}

/* Media Queries */
@media (max-width: 1005px) {
  .navbar-default .navbar-nav a {
    font-family: paralucent-condensed, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 45px;
    padding-top: 55px;
    padding-right: 40px;
  }
}
@media (max-width: 787px) {
  .navbar-default .navbar-nav a {
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .navbar, nav.navbar.shrink {
    min-height: 50px;
  }

  .navbar-brand {
    padding: 0px;
    padding-left: 10px;
  }

  #nav-brand-img {
    display: none;
  }

  .navbar-default .navbar-nav a {
    padding-top: 10px;
    padding-right: 20px;
  }

  #nav-brand-text {
    display: inline;
    color: #262626;
  }

  .nav-brand-cursive {
    font-family: grafolita-script, Times, serif;
    font-size: 35px;
  }

  .nav-brand-block {
    font-family: paralucent-condensed, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 40px;
  }

  .partial {
    padding-top: 50px;
  }
}
#main {
  background: linear-gradient(transparent, white), url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
#main:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  z-index: -1;
  bottom: 0;
  transform-origin: right bottom;
  transform: skewY(-5deg);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

h6 {
  font-size: 15px;
  font-family: ff-dagny-web-pro, Helvetica, sans-serif;
  text-align: center;
  font-weight: 900;
}

.info-ball img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
  transition: all .3s;
  text-align: center;
  opacity: 0.7;
}
.info-ball img:hover {
  margin-bottom: 40px;
  opacity: 1.0;
  transition: all .3s;
}

#main, .flex {
  height: 700px;
}

.info-ball p {
  color: black;
  text-align: center;
}

.info-ball-header {
  text-align: center;
  font-family: acumin-pro-condensed, Helvetica, sans-serif;
  font-weight: 900;
  margin-top: 0px;
  font-size: 40px;
}

#about-header {
  font-family: peachy-keen-jf, Helvetica, sans-serif;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 40px;
  font-size: 60px;
}

#info {
  padding: 40px;
}
#info h2 {
  font-family: acumin-pro-condensed, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 45px;
}

h4 {
  font-family: ff-dagny-web-pro, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
}

#info > p {
  font-family: ff-dagny-web-pro, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 1199px) {
  #chef img {
    margin-top: 150px;
  }
}
@media (max-width: 850px) {
  .flex {
    flex-direction: column;
  }

  .info-ball {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .info-ball img {
    opacity: 1;
  }

  #main, .flex {
    height: 1600px;
  }
}
@media (max-width: 600px) {
  #chef {
    display: none;
  }

  #info h2 {
    font-size: 35px;
  }

  h4 {
    font-size: 20px;
    font-weight: normal;
  }

  #info > p {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  /* right before columns break */
  #chef img {
    margin-top: 0px;
  }
}
#background-art {
  background: linear-gradient(transparent, white), url("../images/recipes_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  height: 250px;
  margin-bottom: 20px;
  margin-top: -10px;
}
#background-art h1 {
  font-family: grafolita-script, Times, serif;
  position: absolute;
  bottom: 10px;
  left: 40px;
  font-size: 80px;
  font-weight: 900;
}

#recipes h2 {
  font-family: skolar-sans-latin, Helvetica, sans-serif;
  font-weight: bold;
}
#recipes input {
  width: 100%;
  margin: 10px 0px 10px 0px;
  background-color: #f4a4a4;
  border-color: #ffc057;
  border-width: 3px;
  font-family: usual, Helvetica, sans-serif;
}

.element {
  white-space: nowrap;
  display: inline-block;
  border: 3px solid #f98b60;
  border-radius: 5px;
  color: #f98b60;
  background-color: #ffe084;
  cursor: default;
  text-decoration: none;
  padding: 3px 5px 3px 3px;
  font-weight: 900;
  font-size: 18px;
  margin: 2px;
}
.element i {
  margin: 4px;
}
.element i:hover {
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete {
  background: #f98b60;
  font-family: usual, Helvetica, sans-serif;
  list-style: none;
  text-align: left;
  border: 1px solid #ffe084;
  border-top: none;
  list-style: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.ui-menu-item {
  padding: 5px;
  padding-left: 10px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #f8703a;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
